.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  text-align: center;
  margin-bottom: 2vh;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  font-size: 16px;
  margin-top: 1vh;
}

.login-input {
  width: 16vw;
  margin-top: 1vh;

  @media (max-width: 768px) {
    width: 80vw;
  }
}

.login-password-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-password-input {
  width: 15vw;
  margin-top: 1vh;
  margin-bottom: 2vh;

  @media (max-width: 768px) {
    width: 75vw;
  }
}

.visibility-button {
  cursor: pointer;
  margin-left: 0.2vw;
  padding: 0;
}
